.card-container {
  width: 100%;
  max-width: 610px;
  background-color: white;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  height: 340px;
}
.main-news-container {
  margin: 20px;
}
.multiple-card-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-top: 30px;
}
.card-text {
  display: flex;
  justify-content: space-between;
}
.card-text h1 {
  color: #363f48;
  font-size: 24px;
  font-weight: 700;
  font-family: "Bitter", sans-serif;
  padding: 0px;
}
.card-text a {
  color: #3677b5;
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  margin-top: 15px;
}
@media (max-width: 930px) {
  .multiple-card-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .card-container {
    height: 530px;
  }
}
@media (max-width: 850px) {
  .card-container {
    width: 100%;
    height: 1200px;
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .card-container {
    height: 800px;
  }
}
@media (max-width: 380px) {
  .card-container {
    height: 700px;
  }
}
