.site-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.big-bottom-container {
  width: 940px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}
.big-left-container {
  width: 620px;
  overflow: hidden;
}
.banner-container {
  margin-top: 20px;
  display: flex;
  background-color: #dddddd;
  justify-content: space-evenly;
  align-items: center;
  height: 167px;
}
.news-title-container {
  margin-top: 20px;
  background-color: white;
  padding: 30px 0px 0px 30px;
}
.news-title-container h1 {
  color: #363f48;
  font-size: 24px;
  font-weight: 700;
  font-family: "Bitter";
}
