.site-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.main-container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}
.main-left-container {
  width: 618px;
  overflow: hidden;
}
.news-title-container {
  margin-top: 20px;
  background-color: white;
  padding: 30px 0px 0px 30px;
}
.news-title-container h1 {
  color: #363f48;
  font-size: 24px;
  font-weight: 700;
  font-family: "Bitter";
}
@media (max-width: 850px) {
  .main-right-container {
    display: none;
  }
  .main-left-container {
    width: 100%;
  }
}
