.slick-dots {
  display: flex !important;
  justify-content: space-between;
  margin-left: 15px !important;
  margin-bottom: 10px !important;
  width: 100%;
  max-width: 910px;
  height: 120px;
  padding: 0;
  list-style: none;
  bottom: 10px;
  overflow: hidden !important;
}
.slick-thumb {
  overflow: hidden !important;
}
.slick-dots li {
  width: 120px !important;
  height: 120px !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
}
