.paging-slider-container{
    width: 940px;
    margin: 0 auto;
    height: 400px;
    background-color: red;
}
.slider-item{
    width: 100%;
    background-color: blue;
    height: 400px;
  
}
.slider-item img{
    width: 100%;
    height: 100%;
}