.slider-container {
    margin: 0 auto;
    margin-top: 20px;
    background-color: white;
    border-left: 13px solid #FCC44D;
   
}
.slider-container h1{
    padding-top: 20px;
    margin-bottom: 30px;
}
.item-container {
    height: 250px;
    width: 100%; 
    margin: 0 auto;
}
.item{
    margin: 0 auto;
    width: 85%;
}
.slider-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider-controls button{
    background-color: white;
    border: none;
    margin-right: 20px;
}
  
