.slider-container {
    margin: 0 auto;
    margin-top: 20px;
    background-color: white;
    border-left: 13px solid #FCC44D;
   
}
.slider-container h1{
    padding: 20px;
    padding-bottom: 0px;
    margin-bottom: 30px;
}
.slider-txt-container p:first-of-type{
    font-family: "Varela Round";
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
}
.slider-txt-container p:nth-of-type(2){
    font-family: "Bitter";
    font-size: 14px;
    font-weight: 700;
    color: #363F48;
}
.item-container {
    height: 250px;
    width: 100%; 
    margin: 0 auto;
}
.item{
    margin: 0 auto;
    width: 85%;
}
.slider-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider-controls h1{
    font-size: 24px;
    font-family: "Bitter";
    line-height: 28.8px;
    color: #363F48;
}
.slider-controls button{
    background-color: white;
    border: none;
    margin-right: 20px;
}
  
