.banner-container {
  background-color: white;
  border: 1px solid #d7d7d7;
  margin-top: 20px;
  display: flex;
}
@media (max-width: 960px) {
  .banner-container {
    width: 95%;
    max-width: 100% !important;
  }
}
