.full-article-container {
  background-color: white;
  margin-top: 20px;
}
.row-of-article {
  padding: 30px;
}
.row-of-article p {
  font-family: "Bitter";
  font-size: 14px;
  font-weight: 400;
  color: #444444;
  line-height: 22px;
}
.socials {
  padding: 20px 20px 20px 5px;
}
