.comments-outer-container {
  background-color: white;
  margin-top: 20px;
  padding: 20px 30px 30px 30px;
  margin-bottom: 50px;
  overflow: hidden;
}
.comments-outer-container h1 {
  font-family: "Bitter";
  font-weight: 700;
  font-size: 24px;
  color: #363f48;
}
.logged-out-comment {
  margin-top: 20px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px 1px rgb(201, 201, 201);
}
@media (max-width: 995px) {
  .comments-outer-container {
  }
}
